/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex.mobile-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex.mobile-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex.nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .flex.column.center-v {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex.column.center-h {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex.row.center-v {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex.row.center-h {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex.center-vh {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex.row.start-v {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex.row.end-v {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex.column.start-v {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex.column.end-v {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .flex.row.start-h {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex.row.end-h {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .flex.column.start-h {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex.column.end-h {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex.between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex.around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  @media screen and (max-width: 768px) {
    .flex.mobile-row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .flex.mobile-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .flex.mobile-column.list {
      -webkit-box-pack: center;
        -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
         -ms-flex-align: center;
            align-items: center;
    }
}